
<h1>Hello Admin User</h1>
  <p>
   
     <h1>Welcome to Sim_Provider Application, <%= @user.email %></h1>
    <p>been successful. You can now enjoy our services and benefits without any hindrance.

      We appreciate your interest in our application and the trust you have placed in our services. We assure you that our application is designed to provide you with a seamless and hassle-free experience, along with secure and reliable network coverage.

      To get started, please download our application from the respective app store and login with your registered mobile number. You will be asked to verify your number with an OTP sent to your registered mobile number. Once you have successfully logged in, you can easily manage your account, recharge your balance, and avail of other services.

      If you face any issues or have any queries, our customer support team is always available to assist you. 
      Thank you for choosing our SIM Provider Application. We look forward to serving you.</p>
    </p>
  </p>
 
  <p>Click the link below to login:</p>
    <%= link_to 'Login',  @url %>
  <h4> Best regards, </h4>
<h4> Admin Team </h4>